@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  height: 100%;
  margin: 0 !important;
  font-family: Lato, sans-serif;
  background-color: #f2f4f6 !important;
}
header{
    height: 70px;
    background:#f38370;
    margin-bottom: 50px;
}