
       
        <header class="header">
                <div class="navigation-trigger d-xl-none" data-sa-action="aside-open" data-sa-target=".sidebar">
                    <i class="zwicon-hamburger-menu"></i>
                </div>
    
                <div class="logo d-none d-sm-inline-flex">
                    <a ui-sref="panel">GYM</a>
                </div>
    
                <form class="search">
                    <div class="search__inner">
                        <input type="text" class="search__text" placeholder="Search for people, files, documents...">
                        <i class="zwicon-search search__helper"></i>
                        <i class="zwicon-arrow-left search__reset" data-sa-action="search-close"></i>
                    </div>
                </form>
    
                <ul class="top-nav">
                    <li class="d-xl-none"><a data-sa-action="search-open"><i class="zwicon-search"></i></a></li>
    
                    <li class="dropdown">
                        <a  data-toggle="dropdown" class="top-nav"><i class="zwicon-task"></i></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu--block">
                            <div class="dropdown-header">
                               Tareas
                                <div class="actions">
                                    <a ui-sref="tareas" class="actions__item zwicon-plus"></a>
                                </div>
                            </div>
    
                            <div  class="listview listview--hover ">
                               
                                   <a class="listview listview--hover "> 
                                        
                                    <div ng-repeat="asd in asdasd" class=" icons-demo__item listview__content ">
                                      
                                            <i class="zwicon-chevron-right">
                                                    <span>sad</span>
                                            </i>
                                         
                                       
                                    </div>
    
                                   
                                    
                                    
                                </a>
    
                                
    
                                <a  ui-sref="tareas" class="view-more">Ver todas las tareas</a>
    
                            </div>
                        </div>
    
                    </li>
    
    
                    <li class="dropdown d-none d-sm-inline-block">
                        <a  data-toggle="dropdown"><i class="zwicon-grid"></i></a>
    
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                            <div class="row app-shortcuts">
                                <a class="col-4 app-shortcuts__item" >
                                    <i class="zwicon-calendar-never"></i>
                                    <small class="">Calendar</small>
                                </a>
                                <a class="col-4 app-shortcuts__item" >
                                    <i class="zwicon-document"></i>
                                    <small class="">Files</small>
                                </a>
                                <a class="col-4 app-shortcuts__item" >
                                    <i class="zwicon-mail"></i>
                                    <small class="">Email</small>
                                </a>
                                <a class="col-4 app-shortcuts__item" >
                                    <i class="zwicon-line-chart"></i>
                                    <small class="">Reports</small>
                                </a>
                                <a class="col-4 app-shortcuts__item" >
                                    <i class="zwicon-broadcast"></i>
                                    <small class="">News</small>
                                </a>
                                <a class="col-4 app-shortcuts__item">
                                    <i class="zwicon-image"></i>
                                    <small class="">Gallery</small>
                                </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="dropdown d-none d-sm-inline-block">
                        <a  data-toggle="dropdown"><i class="zwicon-more-h"></i></a>
    
                        <div class="dropdown-menu dropdown-menu-right">
                            <a  class="dropdown-item" data-sa-action="fullscreen">Fullscreen</a>
                            <a class="dropdown-item">Clear Local Storage</a>
                            <a  class="dropdown-item">Settings</a>
                        </div>
                    </li>
    
                    <li class="d-none d-sm-inline-block">
                        <a class="top-nav__themes" data-sa-action="aside-open" data-sa-target=".themes"><i class="zwicon-palette"></i></a>
                    </li>
                </ul>
    
                <div class="clock d-none d-md-inline-block h.mm">
                    <div class="time ">
                        <span class="time__hours"></span>
                        <span class="time__min"></span>
                        <span class="time__sec"></span>
                    </div>
                </div>
            </header>

    <aside class="sidebar ">
        <div class="scrollbar">
            <div class="user">
                <div class="user__info" data-toggle="dropdown">
                    <img class="user__img" src="demo/img/profile-pics/8.jpg" alt="">
                    <div>
                            <div class="user__name">Mariana,Valentina y Kevin</div>
                            <div class="user__email">marianavalentinakevin@gmail.com</div>
                    </div>
                </div>

                <div class="dropdown-menu dropdown-menu--invert">
                    <a class="dropdown-item" >View Profile</a>
                    <a class="dropdown-item" >Settings</a>
                    <a class="dropdown-item" >Logout</a>
                </div>
            </div>

            <ul class="navigation">
                <li ><a ui-sref="panel"><i class="zwicon-home"></i> Home</a></li>

        
                <li ><a ui-sref="asistencias"><i class="zwicon-smile"></i> Asistencias</a></li>

                <li class="navigation__active"><a ui-sref="table"><i i class="zwicon-layout-2"></i> Tabla</a></li>

                <li ><a ui-sref="form"><i i class="zwicon-user-plus"></i> Formulario</a></li>

                <li ><a ui-sref="calendar"><i i class="zwicon-calendar-month"></i> Calendario</a></li>
               

                

                
            </ul>
        </div>
    </aside>
    <div class="themes">
            <div class="scrollbar">
                <a  class="themes__item" data-sa-value="1"><img src="resources/img/bg/1.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="2"><img src="resources/img/bg/2.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="3"><img src="resources/img/bg/3.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="4"><img src="resources/img/bg/4.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="5"><img src="resources/img/bg/5.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="6"><img src="resources/img/bg/6.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="7"><img src="resources/img/bg/7.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="8"><img src="resources/img/bg/8.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="9"><img src="resources/img/bg/9.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="10"><img src="resources/img/bg/10.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="11"><img src="resources/img/bg/11.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="12"><img src="resources/img/bg/12.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="13"><img src="resources/img/bg/13.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="14"><img src="resources/img/bg/14.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="15"><img src="resources/img/bg/15.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="16"><img src="resources/img/bg/16.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="17"><img src="resources/img/bg/17.jpg" alt=""></a>
                
            </div>
        </div>

    <section class="content">

        <div class="content__inner d-print-none">
                <h3>Tabla</h3>
                    
                        <div class="card">
                            <div class="card-body">
                                
                                <div class="table-responsive data-table ">
                                    <table id="data-table" class="table">
                                        <thead>
                                            <tr>
                                                <th><h5>#</h5></th>
                                                <th><h5>Nombre</h5></th>
                                                <th><h5>Apellido</h5></th>
                                                <th><h5>Email</h5></th>
                                                <th><h5>Sexo</h5></th>
                                                <th><h5>Fecha</h5></th>
                                                <th><h5>Celular</h5></th>
                                                <th><h5>Username</h5></th>
                                                <th><h5>Password</h5></th>
                                                <th><h5>Editar</h5></th>
                                                <th><h5>Eliminar</h5></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="usuario in usuarios">
                                                    <td >{{$index+1}}</td>
                                                <td >{{usuario.nombres}}</td>
                                                <td>{{usuario.apellidos}}</td>
                                                <td>{{usuario.email}}</td>
                                                <td>{{usuario.sexo}}</td>
                                                <td>{{usuario.fecha}}</td>
                                                <td>{{usuario.celular}}</td>
                                                <td>{{usuario.username}}</td>
                                                <td >{{usuario.password}}</td>
                                                <td>
                                                       
                                                        <button class=" btn btn-theme btn--icon"  data-toggle="modal" data-target="#modal-default"><i ng-click="editarusuarios(usuario)" class="zwicon-edit-circle"></i></button>
                                                </td>
                                                <td>
                                                        <button class="btn btn-theme btn--icon" ng-click="Swal(usuario)" ><i class="zwicon-user-delete" ></i></button>
                                                        
                                                </td>
                                                
                                            </tr>
                                            
                                      
                                        </tbody>
                                    </table>
                                </div>
    
                                
                            </div>
                        </div>
    
                        
    
                   
        </div>

        <div class="card d-none d-print-block">
            <div class="card-body">
             <table class="table table-bordered mb-0" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Sexo</th>
                        <th>Fecha</th>
                        <th>Celular</th>
                        <th>Username</th>
                        <th>Password</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usuario in usuarios">
                     <td >{{$index+1}}</td>
                    <td >{{usuario.nombres}}</td>
                    <td>{{usuario.apellidos}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.sexo}}</td>
                    <td>{{usuario.fecha}}</td>
                    <td>{{usuario.celular}}</td>
                    <td>{{usuario.username}}</td>
                    <td >{{usuario.password}}</td>
                
                    
                </tr>
                  
                </tbody>
              </table>
          </div>
        </div>

        <footer class="footer hidden-xs-down">
            <p>© Super Admin Responsive. All rights reserved.</p>

            <ul class="nav footer__nav">
                <a class="nav-link">Homepage</a>

                <a class="nav-link">Company</a>

                <a class="nav-link">Support</a>

                <a class="nav-link">News</a>

                <a class="nav-link">Contacts</a>
            </ul>
        </footer>

    </section>

    <div class="modal fade" id="modal-default" tabindex="10">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        
                    </div>
                    <div class="modal-body">
                            <label>Nombre</label> <input  type="text" class="form-control " placeholder="Nombres" ng-model="usuarios_edit.nombres">
                            Apellido: <br> <input  type="text" class="form-control " placeholder="Apellido" ng-model="usuarios_edit.apellidos">
                            Email:<input  type="text" class="form-control " placeholder="Email" ng-model="usuarios_edit.email">
                            Sexo:
                            <div class="form-group">
                                    <label></label> <br>
                                    <label class="custom-control custom-radio">
                                            <input type="radio" name="radio-inline" class="custom-control-input " value="F" ng-model="usuarios_edit.sexo"">Femenino
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description"></span>
                                            <i class="form-group__bar"></i>
                                    </label>
                                    <label class="custom-control custom-radio">
                                            <input type="radio" name="radio-inline" class="custom-control-input " value="M" ng-model="usuarios_edit.sexo""> Masculino
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description"></span>
                                            <i class="form-group__bar"></i>
                                    </label>
                             </div>
                    Fecha:
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zwicon-calendar-never"></i></span>
                            <div class="form-group">
                                <input type="text" class="form-control date-picker  " placeholder="Fecha" ng-model="usuarios_edit.fecha">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>

                    Celular:<input  type="number" class="form-control " placeholder="Celular" ng-model="usuarios_edit.celular">
                    Usuario:<input  type="text" class="form-control " placeholder="Username" ng-model="usuarios_edit.username">
                    Password:<input  type="text" class=" form-control " placeholder="Password" ng-model="usuarios_edit.password">
                    </div>
                    <div class="modal-footer">
                        <button ng-click="Actualizarusuarios(usuarios_edit)" type="button" class="btn btn-link" data-dismiss="modal">Guardar Cambios</button>
                        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

  
 
      

        

        <!-- App functions and actions -->
        
        <script src="resources/js/app.min.js"></script>
        <script src="demo/js/demo.js"></script>