
       
      

    <section class="content">
                <div class="content__inner d-print-none">
                    <header class="content__title">

                        <div class="actions">
                            <a href="" class="actions__item zwicon-cog"></a>
                            <a href="" class="actions__item zwicon-refresh-double"></a>

                            <div class="dropdown actions__item">
                                <i data-toggle="dropdown" class="zwicon-more-h"></i>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="" class="dropdown-item">Refresh</a>
                                    <a href="" class="dropdown-item">Manage Widgets</a>
                                    <a href="" class="dropdown-item">Settings</a>
                                </div>
                            </div>
                        </div>
                    </header>

                    
                        <div class="card">
                            <div class="card-body">

                                <div >
                                    <div >
                                                    
                                        <input class="form-control" type="text" placeholder="Buscar Usuario" aria-label="Search" ng-model="buscarusuario">
                                          <br>
                                            <div class="form-group">
                                                <div class="custom-control custom-radio mb-2">
                                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input " ng-click="traeractivos(activo)"  ng-model="activo" value="1">
                                                    <label class="custom-control-label"   for="customRadio1">Activos</label>
                                                </div>
                                                <div class="custom-control custom-radio mb-2">
                                                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" ng-click="traeractivos(activo)"  ng-model="activo" value="0">
                                                    <label class="custom-control-label"   for="customRadio2">No activos</label>
                                                </div>
                                            </div>
                                     </div>
                                </div>

                                    <table  class="table table-dark mb-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Email</th>
                                                <th><i class="fa fa-venus-mars" style="font-size:24px"></i></th>
                                                <th>Fecha</th>
                                                <th>Celular</th>
                                                <th>Username</th>
                                                <th>Activo/No Activo</th>
                                                <th>Editar</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="usuario in usuarios | filter:buscarusuario:activo">
                                                <td >{{$index+1}}</td>
                                                <td >{{usuario.nombres}}</td>
                                                <td>{{usuario.apellidos}}</td>
                                                <td>{{usuario.email}}</td>
                                                <td>{{usuario.sexo}}</td>
                                                <td>{{usuario.fecha}}</td>
                                                <td>{{usuario.celular}}</td>
                                                <td>{{usuario.username}}</td>
                                                <td >

                                                    <div class="col-sm-4 col-md-3">
                                                        <div class="form-group">
                                                            <div class="toggle-switch">
                                                                <input type="checkbox"  ng-click="Actualizactivo(usuario)"  class="toggle-switch__checkbox" ng-true-value="1" ng-false-value="0" ng-model="usuario.activo">
                                                                <i class="toggle-switch__helper"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>
                                                       
                                                        <button class=" btn btn-theme btn--icon" ><i ng-click="Actualizarusuarios(usuario)" class="zwicon-edit-circle"></i></button>
                                                </td>
                                                <td>
                                                        <button class="btn btn-theme btn--icon" ng-click="Swal(usuario)" ><i class="zwicon-user-delete" ></i></button>
                                                        
                                                </td>
                                                
                                            </tr>
                                            
                                      
                                        </tbody>

                                    </table>
                                </div>

    
                                
                            </div>
                        </div>
    
                        

                       
                        

    
                   
        </div>


<!--Print-->
        <div class="card d-none d-print-block">
            <div class="card-body">
             <table class="table table-bordered mb-0" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Sexo</th>
                        <th>Fecha</th>
                        <th>Celular</th>
                        <th>Username</th>
                        <th>Password</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usuario in usuarios">
                     <td >{{$index+1}}</td>
                    <td >{{usuario.nombres}}</td>
                    <td>{{usuario.apellidos}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.sexo}}</td>
                    <td>{{usuario.fecha}}</td>
                    <td>{{usuario.celular}}</td>
                    <td>{{usuario.username}}</td>
                
                    
                </tr>
                  
                </tbody>
              </table>
          </div>
        </div>

       

    </section>



    <!--Edit-->
    

  
 
      

        

        <!-- App functions and actions -->
        
        <script src="resources/js/app.min.js"></script>