    

<div class=" modal-dialog-centered " role="document" >
    <div class="modal-content" style="background-color: black; border-radius: 5px;">

                <form >
                                <div class="card">
                                        
                                        <div class="card-body">
                                            
                                           
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group"  class="wrap-input2 validate-input" >
                                                        <label>Nombre</label>
    
                                                        <input id="nombres" type="text" class="form-control  " placeholder="Nombre" ng-model="usuarios_edit.nombres">
    
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                
                                                <div class="col-sm-6">
                                                    <div class="form-group"  class="wrap-input2 validate-input" >
                                                        <label>Apellido</label>
                                                        <input id="apellido" type="text" class="form-control " placeholder="Apellido"  ng-model="usuarios_edit.apellidos">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
    
                                                <div class="col-sm-6"  class="wrap-input2 validate-input" >
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input id="email" type="text" class="form-control " ng-model="usuarios_edit.email">
                                                            <i class="form-group__bar"></i>
                                                        </div>
                                                 </div>
                                                 
                                                 <div class="col-sm-6">
                                                    
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label>Sexo</label>
                        
                                                                <select ng-model="usuarios_edit.sexo" class="form-control" data-placeholder="Seleciona un sexo">
                                                                    <option></option>
                                                                    <option style= "background-color: black; " id="f" ng-model="sexo">F</option>
                                                                    <option style= "background-color: black; " id="m" ng-model="sexo">M</option>
                                                                   
                                                                </select>
                                                            </div>
                                                        </div>
    
                                                           
                                                  </div>
    
                                                        
                                                    
                                                        
                                                 </div>
                                                 
                                                
                                                 <div class="col-sm-6">
                                                    <label>Fecha</label>
                
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="zwicon-calendar-never"></i></span>
                                                        </div>
                                                        <input id="fecha" type="text" class="form-control date-picker" placeholder="Fecha" ng-model="usuarios_edit.fecha">
                                                    </div>
                                                </div>
                                               
                                                <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Telefono</label>
                                                            
                                                            <input id="celular" type="number" class="form-control input-mask" ng-model="usuarios_edit.celular">
                                                            <i class="form-group__bar"></i>
                                                        </div>
                                                 </div>
                                                
                                            </div>
                                            
                                         
    
                                            <div class="row">
                                                    
                                                    <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>Usuario</label>
                                                                
                                                                <input id="usuario" type="text" class="form-control " placeholder="Usuario"  ng-model="usuarios_edit.username">
                                                                <i class="form-group__bar"></i>
                                                            </div>
                                                        </div> 
    
                                                
                                                <br>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Password </label>
                                                        <input id="contraseña" type="password" class="form-control " placeholder="Password" ng-model="usuarios_edit.password">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                        
                                               
                                     
                                        
                                        
                                </div>
                                   
                                <div class="modal-footer">
                                                <button class="btn btn-info" type="button" ng-click="Actualizarusuarios(usuarios)">Aceptar</button>
                                                <button class="btn btn-light" type="button" ng-click="cancel()">Cancelar</button>
                                </div>   
                                 
                                
                        </form>

<script src="resources/js/app.min.js"></script>