    

<div class="modal-body" id="modal-body">
    <div class="modal-content">
        <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Editar Usuario</h3>
        <div class="modal-body">

                <div class="col-sm-6">
                        <div class="form-group"  class="wrap-input2 validate-input" >
                <label>Nombre</label> <input  type="text" class="form-control " placeholder="Nombres" ng-model="usuarios_edit.nombres">

                        </div>
                </div>

                <div class="col-sm-6">
                        <div class="form-group"  class="wrap-input2 validate-input" >
                Apellido: <br> <input  type="text" class="form-control " placeholder="Apellido" ng-model="usuarios_edit.apellidos">
                        </div>
                </div>

                <div class="col-sm-6">
                        <div class="form-group"  class="wrap-input2 validate-input" >
                Email:<input  type="text" class="form-control " placeholder="Email" ng-model="usuarios_edit.email">
                        </div>
                </div>
                Sexo:
                <div class="form-group">
                        <br>
                        <label class="custom-control custom-radio">
                                <input type="radio" name="radio-inline" class="custom-control-input " value="F" ng-model="usuarios_edit.sexo"">Femenino
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"></span>
                                <i class="form-group__bar"></i>
                        </label>
                        <label class="custom-control custom-radio">
                                <input type="radio" name="radio-inline" class="custom-control-input " value="M" ng-model="usuarios_edit.sexo""> Masculino
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"></span>
                                <i class="form-group__bar"></i>
                        </label>
                 </div>
        Fecha:
            <div class="input-group">
                <span class="input-group-addon"><i class="zwicon-calendar-never"></i></span>
                <div class="form-group">
                    <input type="text" class="form-control date-picker  " placeholder="Fecha" ng-model="usuarios_edit.fecha">
                    <i class="form-group__bar"></i>
                </div>
            </div>

        Celular:<input  type="number" class="form-control " placeholder="Celular" ng-model="usuarios_edit.celular">
        Usuario:<input  type="text" class="form-control " placeholder="Username" ng-model="usuarios_edit.username">
        Password:<input  type="text" class=" form-control " placeholder="Password" ng-model="usuarios_edit.password">
        </div>
        
    </div>
</div>




<div class="modal-footer">
    <button class="btn btn-info" type="button" ng-click="Actualizarusuarios(usuarios)">Aceptar</button>
    <button class="btn btn-light" type="button" ng-click="cancel()">Cancelar</button>
</div>

<script src="resources/js/app.min.js"></script>