

        <header class="header">
                <div class="navigation-trigger d-xl-none" ng-click="mostrarMenu()"  ng-class="{'toggled': aside_toggled}" data-sa-action="aside-open" data-sa-target=".sidebar">
                    <i class="zwicon-hamburger-menu"></i>
                </div>
    
                <div class="logo d-none d-sm-inline-flex">
                    <a ui-sref="panel">GYM</a>
                </div>
    
                <form class="search">
                    <div class="search__inner">
                        <input type="text" class="search__text" placeholder="Search for people, files, documents...">
                        <i class="zwicon-search search__helper"></i>
                        <i class="zwicon-arrow-left search__reset" data-sa-action="search-close"></i>
                    </div>
                </form>
    
                <ul class="top-nav">
                    <li class="d-xl-none"><a data-sa-action="search-open"><i class="zwicon-search"></i></a></li>
    
                    <li class="dropdown">
                        <a  data-toggle="dropdown" class="top-nav"><i class="zwicon-task"></i></a>
                        
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu--block">
                            <div class="dropdown-header">
                               Tareas
                                <div class="actions">
                                    <a ui-sref="tareas" class="actions__item zwicon-plus"></a>
                                </div>
                            </div>
    
                            <div  class="listview listview--hover ">
                               
                                   <a class="listview listview--hover "> 
                                        
                                    <div ng-repeat="asd in asdasd" class=" icons-demo__item listview__content ">
                                      
                                            <i class="zwicon-chevron-right">
                                                    <span>sad</span>
                                            </i>
                                         
                                       
                                    </div>
    
                                   
                                    
                                    
                                </a>
    
                                
    
                                <a  ui-sref="tareas" class="view-more">Ver todas las tareas</a>
    
                            </div>
                        </div>
    
                    </li>
    
    
                    <li class="dropdown d-none d-sm-inline-block">
                        <a  data-toggle="dropdown"><i class="zwicon-grid"></i></a>
    
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu--block" role="menu">
                            <div class="row app-shortcuts">
                                <a class="col-4 app-shortcuts__item" >
                                    <i class="zwicon-calendar-never"></i>
                                    <small class="">Calendar</small>
                                </a>
                                <a class="col-4 app-shortcuts__item" >
                                    <i class="zwicon-document"></i>
                                    <small class="">Files</small>
                                </a>
                                <a class="col-4 app-shortcuts__item" >
                                    <i class="zwicon-mail"></i>
                                    <small class="">Email</small>
                                </a>
                                <a class="col-4 app-shortcuts__item" >
                                    <i class="zwicon-line-chart"></i>
                                    <small class="">Reports</small>
                                </a>
                                <a class="col-4 app-shortcuts__item" >
                                    <i class="zwicon-broadcast"></i>
                                    <small class="">News</small>
                                </a>
                                <a class="col-4 app-shortcuts__item">
                                    <i class="zwicon-image"></i>
                                    <small class="">Gallery</small>
                                </a>
                            </div>
                        </div>
                    </li>
    
                    <li class="dropdown d-none d-sm-inline-block">
                        <a  data-toggle="dropdown"><i class="zwicon-more-h"></i></a>
    
                        <div class="dropdown-menu dropdown-menu-right">
                            <a  class="dropdown-item" data-sa-action="fullscreen">Fullscreen</a>
                            <a class="dropdown-item">Clear Local Storage</a>
                            <a  class="dropdown-item">Settings</a>
                        </div>
                    </li>
    
                    <li class="d-none d-sm-inline-block">
                        <a class="top-nav__themes" data-sa-action="aside-open" data-sa-target=".themes"><i class="zwicon-palette"></i></a>
                    </li>
                </ul>
    
                <div class="clock d-none d-md-inline-block h.mm">
                    <div class="time ">
                        <span class="time__hours"></span>
                        <span class="time__min"></span>
                        <span class="time__sec"></span>
                    </div>
                </div>
            </header>

        <aside class="sidebar" ng-class="{'toggled': aside_toggled}">
            <div class="scrollbar">
                <div class="user">
                    <div class="user__info" ng-click="ocultarMenu()" data-toggle="dropdown">
                        <img class="user__img" ng-show="USER.sexo == 'F'" src="demo/img/profile-pics/8.jpg" alt="">
                        <img class="user__img" ng-show="USER.sexo == 'M'" src="demo/img/profile-pics/2.jpg" alt="">
                        <div>
                                <div class="user__name">{{::USER.nombres}} {{::USER.apellidos}}</div>
                                <div class="user__email">{{::USER.email}}</div>
                        </div>
                    </div>

                    <div class="dropdown-menu dropdown-menu--invert shows">
                        <a ui-sref="perfil" class="dropdown-item">Ver Perfil</a>
                        <a class="dropdown-item" >Settings</a>
                        <a ui-sref="login" class="dropdown-item" >Salir</a>
                    </div>

                </div>

                <ul class="navigation">
                    <li ><a ui-sref="panel"><i class="zwicon-home"></i> Home</a></li>
    
                    <li ><a ui-sref="panel.asistencias"><i class="zwicon-smile"></i> Asistencias</a></li>
        
                    <li ><a ui-sref="panel.table"><i i class="zwicon-layout-2"></i> Usuarios</a></li>
        
                    <li><a ui-sref="panel.form"><i i class="zwicon-user-plus"></i> Formulario</a></li>
    
                    <li  ><a ui-sref="panel.productos"><i i class="zwicon-shopping-cart"></i> Productos</a></li>
        
                    <li ><a ui-sref="panel.inventario"><i i class="zwicon-plus-circle"></i> Agregar producto</a></li>
        
                    <li ><a ui-sref="panel.sincronizacion"><i i class="zwicon-cloud"></i> Sincronizacion</a></li>
        
    
                    <li ><a ui-sref="login"><i i class="zwicon-back"></i> Salir</a></li>
                    
                    <li ng-show="aside_toggled" ><a ng-click="ocultarMenu()"><i i class="zwicon-back"></i> Ocultar</a></li>
    
            </ul>
            </div>
        </aside>
        <div class="themes">
            <div class="scrollbar">
                <a  class="themes__item" data-sa-value="1"><img src="resources/img/bg/1.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="2"><img src="resources/img/bg/2.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="3"><img src="resources/img/bg/3.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="4"><img src="resources/img/bg/4.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="5"><img src="resources/img/bg/5.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="6"><img src="resources/img/bg/6.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="7"><img src="resources/img/bg/7.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="8"><img src="resources/img/bg/8.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="9"><img src="resources/img/bg/9.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="10"><img src="resources/img/bg/10.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="11"><img src="resources/img/bg/11.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="12"><img src="resources/img/bg/12.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="13"><img src="resources/img/bg/13.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="14"><img src="resources/img/bg/14.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="15"><img src="resources/img/bg/15.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="16"><img src="resources/img/bg/16.jpg" alt=""></a>
                <a  class="themes__item" data-sa-value="17"><img src="resources/img/bg/17.jpg" alt=""></a>
                
            </div>
        </div>

        <section class="content" style=" padding-left: 0px; padding-top: 0px; " >
        <ui-view>
              <section>
                  
              </section> 
        </ui-view>

        </section>
    


        
    <script src="resources/js/app.min.js"></script>