

            <section  class="content">
                <div class="content__inner content__inner--sm">
                     <header class="content__title">
                         <h1>{{usu.nombres}} {{usu.apellidos}}</h1>

                            <div class="actions">
                                 <a href="" class="actions__item zwicon-cog"></a>
                                 <a href="" class="actions__item zwicon-refresh-double"></a>

                                    <div class="dropdown actions__item">
                                     <i data-toggle="dropdown" class="zwicon-more-h"></i>
                                     <div class="dropdown-menu dropdown-menu-right">
                                         <a href="" class="dropdown-item">Refresh</a>
                                         <a href="" class="dropdown-item">Manage Widgets</a>
                                         <a href="" class="dropdown-item">Settings</a>
                                     </div>
                                 </div>
                             </div>
                     </header>

                    <div class="card profile">
                        <div class="profile__img">
                            <img src="demo/img/contacts/2.png" alt="">

                        </div>

                        <div class="profile__info">

                            <ul class="icon-list">
                                <li><i class="zwicon-phone"></i> {{usu.celular}}</li>
                                <li><i class="zwicon-mail"></i>{{usu.email}}</li>
                                <li><img src="https://img.icons8.com/wired/20/000000/genderqueer.png">{{usu.sexo}}</li>
                                <li><i class="zwicon-calendar-day"></i>{{usu.fecha}}</li>
                                
            
            
                            </ul>
                        </div>
                    </div>

                    <div  class="card" >
                        <div class="card-body">
                            <h5 class="card-body__title">{{usu.nombres }} {{usu.apellidos}}</h5>
                            <div class="row">
            
                                <div class="col-sm-6" style="
                                padding-left: 0px;
                            ">
                                    <div class="col-sm-6">  
                                            <select class="form-control"  name="select_year" ng-model="dato.select_year">
                                                <option style= "background-color: black; "></option>
                                                    <option style= "background-color: black; " value="2019">2019</option>
                                                    <option  style= "background-color: black; "value="2020">2020</option>
                                                    <option style= "background-color: black; " value="2021">2021</option>
                                                    <option style= "background-color: black; " value="2022">2022</option>
                                                    <option style= "background-color: black; " value="2023">2023</option>
                                                    <option style= "background-color: black; " value="2024">2024</option>
                                                    <option style= "background-color: black; " value="2025">2025</option>
                                            </select>
                            
                                             <select class="form-control"  name="select_month" ng-model="dato.select_month">
                                                 <options tyle= "background-color: black; "></option>
                                                    <option style= "background-color: black; " value="02">Febrero</option>
                                                    <option style= "background-color: black; " value="03">Marzo</option>
                                                    <option style= "background-color: black; " value="04">Abril</option>
                                                    <option style= "background-color: black; " value="05">Mayo</option>
                                                    <option style= "background-color: black; " value="06">Junio</option>
                                                    <option style= "background-color: black; " value="07">Julio</option>
                                                    <option style= "background-color: black; " value="08">Agosto</option>
                                                    <option style= "background-color: black; " value="09">Septiembre</option>
                                                    <option style= "background-color: black; " value="10">Octubre</option>
                                                    <option style= "background-color: black; " value="11">Noviembre</option>
                                                    <option style= "background-color: black; " value="12">Diciembre</option>
                                                </select>
                                                <br>
            
                                                <button class="btn btn-theme btn--icon-text" ng-click="traerDatos(dato)">Buscar</button>
            
                                    </div>
                                </div>
                                <br>

                            </div>
                            <br>
                           
                            <button data-type="success" ng-click="editarAsistencia(asi)"  ng-repeat="asi in usu.asistencias" class="btn btnicon-text   btn-outline-theme-dark " ><i class="zwicon-calendar-day" ></i>{{asi.cita | date:"dd/MM/yyyy"}}</button>
                            
                            <br>
                            <br>
            
                            <h5 class="card-body__title">Informacion de contacto</h5>
            
                            <ul class="icon-list">
                                <li><i class="zwicon-phone"></i> {{usu.celular}}</li>
                                <li><i class="zwicon-mail"></i>{{usu.email}}</li>
                            </ul>
            
                            
                           
                            <br>
                            <div  class="btn-demo">
                                <button ui-sref="asistencias" class="btn btn-theme btn--icon-text"><i class="zwicon-arrow-left"></i> Volver</button>
                            </div>
                        </div>
                        
            
                      
                        
                    </div>
                </div>
            </section>
        </main>
